body {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  line-height: 1.2em;
  /*color: #333;*/
  background: #202226;
  color: #ffffff;
  margin: 0;
}
a {
  color: #ffffff;
  text-decoration: none;
}

h1 {
font-weight: 900;
font-size: 50px;
font-family: monospace;
padding: 0 20px 20px 20px;
line-height: 1.2em;
margin-top: 0;
border-bottom: 2px solid #333;
border-color: rgba(242, 242, 242, 0.5);;
display: inline-block;
margin-bottom: 0px;}

p {font-size: 23px; line-height: 1.3em;}

#header {margin: 0 auto; border-radius: 999px; margin-top: 30px; margin-bottom: 30px; background: #1d00ff; height: 150px; width: 150px;}
.avatar img {border-radius: 999px;}
.container {width: 500px; /*height: -webkit-fill-available;*/ margin: 0 auto; overflow: visible;}
.inline-list {list-style: none; margin: 0; padding: 0;}
.inline-list li {display: inline-block; }
.inline-list li {padding-left: 10px; padding-right: 10px; padding-bottom: 10px;}
.inline-list li a {padding: 2px 8px; border: 1px solid #ffffff; border-radius: 2px; letter-spacing: .1em; text-transform: uppercase; font-weight: 400; font-size: 14px;}
.inline-list li a:hover {background: #7c7c7c; color: #ffffff;}
